/este giorg/nbproject/private/
/este giorg/build/
/giorgina/este giorg/build/
/giorgina/este giorg/nbproject/private/
/giorgina/proyecto-UniversidadULP-GP16/build/
/giorgina/proyecto-UniversidadULP-GP16/nbproject/private/
/hernan/dist/